<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<div th:insert="fragments/search-input :: search">
</div>

<main role="main">
    <div class="container py-3" id="wrapper">
        <div class="container">
            <div class="page-header">
                <h1 class="title text-center">Заявка на восстановление пароля</h1>
                <p class="lead text-center">Необходимо ввести адрес электронной почты</p>
                <p class="bg-light text-danger d-inline-block pl-4 ml-2"
                   th:if="${message != null && #strings.length(message) > 0}" th:text="${message}"></p>

                <div class="container">
                    <form th:action="@{/restore-password}" method="post" class="form">
                        <div class="form-group">
                            <div class="d-flex">
                                <div class="col">
                                    <label for="name">Электронная почта <span class="text-danger">*</span></label>
                                    <input type="email" id="name" name="name" class="form-control mb-3" required>

                                </div>

                            </div>

                            <input type="submit" class="btn btn-dark my-3 ml-3" value="Восстановить">
                            <p class="lean px-3" style="font-size: 0.8rem">Нажимая на кнопку Восстановить, для вас будет выслан новый пароль,
                                который вы сможете изменить в личном кабинете</p>

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div><!-- /.container wrapper -->
    <!-- FOOTER -->
    <footer th:replace="fragments/footer :: footer">
    </footer>

</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/controller.js"></script>
<script src="js/home.js"></script>
</body>

</html>