<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<div th:insert="fragments/search-input :: search">
</div>
<main role="main" class="my-3">
    <div class="container" id="wrapper">
        <div class="container">
            <div class="page-header">
                <h1 class="title text-center">Заказ</h1>
                <p class="lead text-center">Провертье детали заказа*</p>


                <div class="container">
                    <form method="post" class="form form-horizontal">
                        <div class="form-group">

                            <label for="name">Электронная почта</label>
                            <input type="text" id="name" class="form-control" th:value="*{order.cart.customer.customerName}" disabled>


                            <label for="phone">Телефон</label>
                            <input type="text" id="phone" class="form-control" th:value="*{order.cart.customer.customerPhone}" disabled>


<!--                            <h2>Billing</h2>-->
<!--                            <label for="streetName">streetName</label>-->
<!--                            <input type="text" id="streetName" class="form-control" th:text="*{order.cart.customer.billingAddress.streetName}">-->

<!--                            <label for="apartmentNumber">apartmentNumber</label>-->
<!--                            <input type="text" id="apartmentNumber" class="form-control" th:text="*{order.cart.customer.billingAddress.apartmentNumber}">-->

<!--                            <label for="city">city</label>-->
<!--                            <input type="text" id="city" class="form-control" th:text="*{order.cart.customer.billingAddress.city}">-->

<!--                            <label for="country">country</label>-->
<!--                            <input type="text" id="country" class="form-control" th:text="*{order.cart.customer.billingAddress.country}">-->

<!--                            <label for="zipCode">zipCode</label>-->
<!--                            <input type="text" id="zipCode" class="form-control" th:text="*{order.cart.customer.billingAddress.zipCode}">-->

<!--                            <h2>Shipping</h2>-->
<!--                            <label for="streetNameS">streetName</label>-->
<!--                            <input type="text" id="streetNameS" class="form-control" th:text="*{cart.customer.shippingAddress.streetName}">-->

<!--                            <label for="apartmentNumberS">apartmentNumber</label>-->
<!--                            <input type="text" id="apartmentNumberS" class="form-control" th:text="*{cart.customer.shippingAddress.apartmentNumber}">-->

<!--                            <label for="cityS">city</label>-->
<!--                            <input type="text" id="cityS" class="form-control" th:text="*{cart.customer.shippingAddress.city}">-->

<!--                            <label for="countryS">country</label>-->
<!--                            <input type="text" id="countryS" class="form-control" th:text="*{cart.customer.shippingAddress.country}">-->

<!--                            <label for="zipCodeS">zipCode</label>-->
<!--                            <input type="text" id="zipCodeS" class="form-control" th:text="*{cart.customer.shippingAddress.zipCode}">-->
                            <input type="hidden" name="_flowExecutionKey">
                            <div class="d-flex justify-content-between">
                                <input type="submit" class="btn btn-dark mt-3" value="Далее" name="_eventId_customerInfoCollected">
                                <button class="btn btn-danger mt-3 " name="_eventId_cancel">Отменить</button>
                            </div>


                        </div>
                    </form>
                </div>
            </div>

            <p class="lead pl-3" style="font-size: 0.9rem">*Для изменения деталей вернитесь в личный кабинет</p>
        </div>

    </div><!-- /.container wrapper -->

</main>
<footer th:replace="fragments/footer :: footer">
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../js/controller.js" th:src="@{/js/controller.js}"></script>
<script src="../../js/home.js" th:src="@{/js/home.js}"></script>
</body>

</body>
</html>