<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>

<main role="main" class="mt-5">
    <div class="container pt-5" id="wrapper">
        <div class="container">
            <div class="page-header">
                <h1 class="title">Резерв</h1>
                <p class="lead">Адрес магазина</p>

                <div class="container">
                    <form method="post" class="form form-horizontal">
                        <div class="form-group">
                            <label for="zipCodeS">Индекс</label>
                            <input type="text" id="zipCodeS" class="form-control" th:value="*{order.cart.customer.shippingAddress.zipCode}" disabled>

                            <label for="cityS">Город</label>
                            <input type="text" id="cityS" class="form-control" th:value="*{order.cart.customer.shippingAddress.city}" disabled>

                            <label for="streetNameS">Улица</label>
                            <input type="text" id="streetNameS" class="form-control" th:value="*{order.cart.customer.shippingAddress.streetName}" disabled>

                            <input type="hidden" name="_flowExecutionKey">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <button class="btn btn-success mt-3" name="_eventId_backToCollectCustomerInfo">Назад</button>
                                    <input type="submit" class="btn btn-dark mt-3" value="Далее" name="_eventId_shippingDetailCollected">
                                </div>
                                <button class="btn btn-danger mt-3" name="_eventId_cancel">Отмена</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- FOOTER -->
            <footer th:replace="fragments/footer :: footer">
            </footer>
        </div>

    </div><!-- /.container wrapper -->


</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../../js/upload.js" th:src="@{/js/upload.js}"></script>
</body>

</body>
</html>