<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<div th:insert="fragments/search-input :: search">
</div>
<main role="main" class="mt-1">
    <div class="container py-5" id="wrapper">
        <div class="container">
            <div class="page-header">
                <h1 class="title text-center">Резерв</h1>
                <p class="lead text-center">Подтверждение заявки на резерв товаров</p>

                <div class="container">
                    <div class="row">

                    <form method="post" class="form form-horizontal  mx-auto">
                        <div class="col-xs-10 ">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-xs-6">
                                    <address>
                                        <strong>Адрес магазина</strong><br>
                                        <span th:text="${order.cart.customer.shippingAddress.streetName}"></span><br>
                                        <span th:text="${order.cart.customer.shippingAddress.country}"></span><br>
                                        <span th:text="${order.cart.customer.shippingAddress.city}"></span><br>
                                        <span th:text="${order.cart.customer.shippingAddress.zipCode}"></span><br>
                                    </address>
                                    <p>Время заказа: <span th:text="${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm')}"></span></p>
                                </div>

                            </div>
                            <div class="row">
                                <table class="table table-hover">
                                    <tr>
                                        <th>Товар</th>
                                        <th>Количество</th>
                                        <th>Цена</th>
                                        <th>Сумма</th>
                                    </tr>
                                    <tr th:each="item : ${order.cart.cartItems}">
                                        <td class="col-md-9" th:text="${item.product.productName}">productName</td>
                                        <td class="col-md-1 text-center" th:text="${item.quantity}">{{item.quantity}}
                                        </td>
                                        <td class="col-md-1 text-center">
                                            <span th:class="${item.product.salePrice != null && #strings.length(item.product.salePrice) > 0 ? 'd-block line-price':'d-block'}"
                                                  style="font-weight: bold">[[${item.product.productPrice}]]</span>
                                            <span class="text-danger"
                                                  th:if="${item.product.salePrice != null && #strings.length(item.product.salePrice) > 0}">[[${item.product.salePrice}]]</span>

                                        </td>
                                        <td class="col-md-1 text-center" th:text="${item.totalPrice}">
                                            {{item.totalPrice}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th class="text-right">Итого</th>
                                        <th class="text-center text-danger" th:text="${order.cart.grandTotal}"></th>
                                        <th></th>
                                    </tr>
                                </table>
                            </div>
                            <input type="hidden" name="_flowExecutionKey">

                            <div class="d-flex justify-content-between">
                                <div>
                                    <button class="btn btn-success mt-3" name="_eventId_backToCollectShippingDetail">Назад</button>
                                    <input type="submit" class="btn btn-dark mt-3" value="Зарезервировать" name="_eventId_orderConfirmed">
                                </div>
                                <button class="btn btn-danger mt-3" name="_eventId_cancel">Отмена</button>
                            </div>

                        </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <!-- FOOTER -->

        </div>

    </div><!-- /.container wrapper -->

</main>
<footer th:replace="fragments/footer :: footer">
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../js/controller.js" th:src="@{/js/controller.js}"></script>
<script src="../../js/home.js" th:src="@{/js/home.js}"></script>
</body>

</body>
</html>