@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    font-size: 14px;
}
/*Roboto,Arial,sans-serif*/

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none ;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: white;
    color: #343a40;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}
#chevron {
    padding-top: 4px;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: white ;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    
    color: #dc3545;
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 10px;

}

#sidebar ul.components {

}

#sidebar ul p {
    color: #343a40;
    padding: 10px;
}
#sidebar ul p:hover {
    color: #dc3545;
    
}

#sidebar ul li a {
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #dc3545;
    
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #343a40;

}

a[data-toggle="collapse"] {
    position: relative;
}
.hover-red:hover {
    color: #dc3545;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em ;
    padding-left: 30px ;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em ;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #343a40;
}

a.article,
a.article:hover {
    
    color: #dc3545;
}

.rem15 {
    font-size: 1.5rem;
}

.bigA{
    font-size: 2.5rem;
}

.logo {
    -webkit-filter: invert(.99); /* safari 6.0 - 9.0 */
    filter: invert(.99);
    transform: translateX(23%);
}
#enterOrReg:hover {
    
    color: #dc3545;
}

#cart-badge {
    font-size: 50%;
    transform: translateX(-10px);
}
.rem15:hover {
    color: rgb(119,119,119);
}
#olive-option {
    padding-left: 18px;
}

hr {
    width: 60vh;
}

.mlvh-4 {
    margin-left: 3.5vw;
}

.allproducts {
    font-size: 1em!important;
    padding: 8px;
}

.alegreya {
    font-family: 'Alegreya', serif;
}


#catalog-md{
    height: 55px;
    padding: 8px;
}
#search-input{
    white-space: nowrap;
}
.product-card-size {
    min-width: 40vw;
}

@media (max-width: 576px) {
    .carousel-item {
        height: 16rem;
        background-size:cover;
    }
    .carousel-item > img {
        height: 100%;
        width: 100%;
    }
    .fsize-07 {
        font-size: 0.7rem;
    }
    .order {
        font-size: 1.3rem;
    }
    .product-card-size {
        min-width: 40vw !important;
    }
}


@media (min-width: 576px) {
    .carousel-item {
        height: 16rem;
        background-size:cover;
    }
    .carousel-item > img {
        height: 100%;
        width: 100%;
    }
    .fsize-07 {
        font-size: 0.7rem;
    }
    .order {
        font-size: 1.3rem;
    }
    .product-card-size {
        min-width: 40vw !important;
    }

}


@media (min-width: 768px) {
    #main-logo {
        margin-left: 25vw;
    }
    .search-cart-buttons {
        margin-left: 30vw;
    }
    .carousel-item > img {
        overflow: hidden;
        width: 100%;
    }
    .order {
        font-size: 1.9rem;
    }
    .product-card-size {
        min-width: 25vw !important;
        max-width: 35vw !important;
    }

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {
    .product-card-size {
        min-width: 15vw !important;
        max-width: 20vw !important;
    }
}



div label {
    font-weight: bold;
}



/*horizontal scroll */
/* The heart of the matter */
.testimonial-group > .row {
    overflow-x: auto;
}


