#wrapper {
    border: 2px solid red;
}

.abc {
    color: red;
}

.table {
    table-layout: fixed;
    overflow: auto;
}

.table th {
    text-align: center;
    background: whitesmoke;
    overflow: hidden;
    display: block;
    text-overflow:ellipsis;
    white-space: nowrap;
}

