<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<div th:insert="fragments/search-input :: search">
</div>
<main role="main" class="mt-5">
    <div class="container">
        <h3 class="text-center">Здесь вы можете редактировать размер скидки на группу товаров</h3>
        <div th:if="${error != null}" class="alert alert-danger text-center" th:text="${error}">
        </div>
        <div th:if="${updateSuccess != null}" class="alert alert-success text-center" th:text="${updateSuccess}">
        </div>
        <div class="row">
            <div class="col-6 mx-auto">
                <h4 class="text-center">Категория</h4>
                <form class="my-3" th:action="@{/admin/group-discount/edit/category}" method="post">
                    <div class="d-inline-flex flex-row no-gutters">
                        <div class="col-5 p-0">
                            <select class="form-control" name="category" style="min-width: 10vw">
                                <option value="alcohol">Алкоголь</option>
                                <option value="drinks">Напитки</option>
                                <option value="oil">Оливковое масло</option>
                                <option value="dishes">Посуда</option>
                                <option value="gifts">Подарки</option>
                            </select>
                        </div>
                        <div class="col-5 p-0">
                            <input type="number" class="form-control d-inline w-100" name="discount">
                        </div>
                        <div class="col-1">
                            <button type="button" class="input-group-text h-100" style="cursor: text"><i
                                    class="fas fa-percent"></i></button>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-1">
                            <button type="submit" class="input-group-text h-100"><span class="far fa-edit"></span>
                                Обновить
                            </button>
                        </div>
                    </div>
                </form>
                <hr style="max-width: 50vw">
            </div>
        </div>


        <div class="row">
            <div class="col-6 mx-auto">
                <h4 class="text-center">Тип вина</h4>
                <form class="my-3" th:action="@{/admin/group-discount/edit/wineType}" method="post">
                    <div class="d-inline-flex flex-row no-gutters">
                        <div class="col-5 p-0">
                            <select class="form-control" name="color" style="min-width: 10vw">
                                <option value="красное">Красное</option>
                                <option value="белое">Белое</option>
                                <option value="розовое">Розовое</option>
                                <option value="шампанское">Шампанское</option>
                            </select>
                        </div>
                        <div class="col-5 p-0">
                            <input type="number" class="form-control d-inline w-100" name="discount">
                        </div>
                        <div class="col-1">
                            <button type="button" class="input-group-text h-100" style="cursor: text"><i
                                    class="fas fa-percent"></i></button>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-1">
                            <button type="submit" class="input-group-text h-100"><span class="far fa-edit"></span>
                                Обновить
                            </button>
                        </div>
                    </div>
                </form>
                <hr style="max-width: 50vw">
            </div>
        </div>


        <div class="row">
            <div class="col-6 mx-auto">
                <h4 class="text-center">Тип</h4>
                <form class="my-3" th:action="@{/admin/group-discount/edit/type}" method="post">
                    <div class="d-inline-flex flex-row no-gutters">
                        <div class="col-5 p-0">
                            <select class="form-control" name="type" style="min-width: 10vw">
                                <option th:each="type : ${types}" th:value="${type}">[[${type}]]</option>
                            </select>
                        </div>
                        <div class="col-5 p-0">
                            <input type="number" class="form-control d-inline w-100" name="discount">
                        </div>
                        <div class="col-1">
                            <button type="button" class="input-group-text h-100" style="cursor: text"><i
                                    class="fas fa-percent"></i></button>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-1">
                            <button type="submit" class="input-group-text h-100"><span class="far fa-edit"></span>Обновить
                            </button>
                        </div>
                    </div>
                </form>
                <hr style="max-width: 50vw">
            </div>
        </div>

        <div class="row">
            <div class="col-6 mx-auto">
                <h4 class="text-center">Производитель</h4>
                <form class="my-3" th:action="@{/admin/group-discount/edit/manufacturer}" method="post">
                    <div class="d-inline-flex flex-row no-gutters">
                        <div class="col-5 p-0">
                            <select class="form-control" name="manufacturer" style="min-width: 10vw">
                                <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer}">
                                    [[${manufacturer}]]
                                </option>
                            </select>
                        </div>
                        <div class="col-5 p-0">
                            <input type="number" class="form-control d-inline w-100" name="discount">
                        </div>
                        <div class="col-1">
                            <button type="button" class="input-group-text h-100" style="cursor: text"><i
                                    class="fas fa-percent"></i></button>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-1">
                            <button type="submit" class="input-group-text h-100"><span class="far fa-edit"></span>Обновить
                            </button>
                        </div>
                    </div>
                </form>
                <hr style="max-width: 50vw">
            </div>
        </div>

        <div class="row">
            <div class="col-6 mx-auto">
                <h4 class="text-center">Страна</h4>
                <form class="my-3" th:action="@{/admin/group-discount/edit/country}" method="post">
                    <div class="d-inline-flex flex-row no-gutters">
                        <div class="col-5 p-0">
                            <select class="form-control" name="country" style="min-width: 10vw">
                                <option th:each="country : ${countries}" th:value="${country}">[[${country}]]</option>
                            </select>
                        </div>
                        <div class="col-5 p-0">
                            <input type="number" class="form-control d-inline w-100" name="discount">
                        </div>
                        <div class="col-1">
                            <button type="button" class="input-group-text h-100" style="cursor: text"><i
                                    class="fas fa-percent"></i></button>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-1">
                            <button type="submit" class="input-group-text h-100"><span class="far fa-edit"></span>Обновить
                            </button>
                        </div>
                    </div>
                </form>
                <hr style="max-width: 50vw">
            </div>
        </div>

    </div>


    <div class="container">

    </div>
</main>
<footer th:replace="fragments/footer :: footer">
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../js/order-change.js" th:src="@{/js/order-change.js}"></script>
<script src="../../js/home.js" th:src="@{/js/home.js}"></script>
</body>

</body>
</html>