<head th:fragment="header">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158832193-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-158832193-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
          content="ООО 'Сенатор' 'Лучшие вина мира' и 'Галерея подарков' – компания работающая в сегменте алкоголя и подарков для взрослых премиум класса с 2005 года.">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/carousel/">

    <link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script src="https://kit.fontawesome.com/bc3f98c05a.js"></script>
    <script src="../../js/angular.min.js" th:src="@{/js/angular.min.js}"></script>

    <link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../css/carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
    <link href="../../css/main.css"  th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="../../css/list.css"  th:href="@{/css/list.css}" rel="stylesheet" type="text/css">
    <link href="../../css/carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
    <link href="../../css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet">

</head>
