<div class="container container-fluid testimonial-group text-center mb-4" th:fragment="products" ng-app="cartApp">
    <div th:if="${orders.getTotalPages() > 0}" ng-controller="cartCtrl">
        <nav th:replace="fragments/pagination :: pagination"></nav>
        <div class="row text-center flex-nowrap flex-md-wrap overflow-auto mx-0 justify-content-md-center">
            <div th:each="product : ${products}" class="col-sm-4 col-md-3 p-1 product-card-size">
                <div class="card card-block card-primary card-inverse no-gutters mx-0 "
                     style="width: auto;height: 30rem; font-size: 1rem">
                    <div th:if="${product.dataImg != null && #strings.length(product.dataImg) > 0}">
                        <a th:href="@{'/productList/product/' + ${product.id}}">
                            <img th:src="@{'data:image/jpg;base64,' + ${product.dataImg}}"
                                 class="mx-auto pt-3 product--img_width" alt="..." height="250">
                        </a>
                    </div>
                    <div th:if="${(product.dataImg == null || #strings.length(product.dataImg) == 0) && #strings.length(product.imageUrl) > 0 }">
                        <a th:href="@{'/productList/product/' + ${product.id}}">
                            <img th:src="${product.imageUrl}" class="mx-auto pt-3 product--img_width" alt="..."
                                 height="250">
                        </a>

                    </div>
                    <div class="card-body text-justify text-center card-line-height">
                        <a class="card-title" th:text="${product.productName}"
                           th:href="@{'/productList/product/' + ${product.id}}" style="font-size: 0.9rem"></a>
                        <p class="card-text" style="font-size: 0.7rem;">
                            <span th:text="${product.productVolume}"></span>
                            <span th:text="${product.productCountry}"></span>
                            <span th:text="${product.productAlcoholDegree}"></span>
                        </p>
                    </div>

                    <div class="card-footer bg-transparent m-0 price-size">
                        <span th:class="${product.salePrice != null && #strings.length(product.salePrice) > 0 ? 'd-block line-price':'d-block'}">[[${product.productPrice}]]<i
                                class="fas fa-ruble-sign ml-1"></i></span>
                        <span class="text-danger"
                              th:if="${product.salePrice != null && #strings.length(product.salePrice) > 0}">Акция: [[${product.salePrice}]]<i
                                class="fas fa-ruble-sign ml-1"></i></span>
                        <span id="priceRegistered" class="text-danger" style="cursor: help" data-toggle="tooltip"
                              data-html="true" data-placement="right"
                              title="<em>Цена для зарегистрированных пользователей или держателей карт Сенатор</em>"
                              th:unless="${product.salePrice != null && #strings.length(product.salePrice) > 0}">[[${@priceFormatter.format(product.productPrice)}]]<i
                                class="fas fa-ruble-sign ml-1"></i><i
                                class="fas fa-id-card ml-1"></i></span>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="col-12">
                            <a href="#" class="btn btn-warning w-100"
                               th:attr="ng-click='addToCart(\''+${product.id}+'\');'"
                               th:if="${#numbers.formatInteger(product.productUnitInStock,5)} != 0">В корзину <i
                                    class="fas fa-cart-arrow-down-1" style="font-size: 1.5rem"></i></a>
                            <a class="btn btn-warning w-100"
                               th:unless="${#numbers.formatInteger(product.productUnitInStock,5)} != 0">Товар
                                отсутствует</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <nav th:replace="fragments/pagination :: pagination"></nav>
    </div>
    <div th:if="${orders.getTotalPages() == 0}">
        <p>К сожалению, на Ваш поисковый запрос ничего не найдено.</p>
    </div>
</div>