<div class="container container-fluid testimonial-group text-center mb-4" th:fragment="products">
    <div class="row text-center flex-nowrap flex-md-wrap mx-0 justify-content-md-center">
        <div th:each="product : ${products}" class="col-sm-4 col-md-3 p-1 product-card-size">
            <div class="card card-block card-primary card-inverse no-gutters mx-0 " style="width: auto;height: 30rem; font-size: 1rem">
                <img th:src="@{'data:image/jpg;base64,' + ${product.dataImg}}" class="mx-auto pt-3" alt="..." width="60" height="250">
                <div class="card-body">
                    <a class="card-title" th:text="${product.productName}" th:href="@{'/productList/product/' + ${product.id}}"></a>
                    <p class="card-text">
                        <span th:text="${product.productVolume}"></span>
                        <span th:text="${product.productCountry}"></span>
                        <span th:text="${product.productAlcoholDegree}"></span>
                    </p>

                </div>
                <div class="d-flex mb-3">
                    <div class="col-12">
                        <a href="#" class="btn btn-warning w-100">В корзину <i class="fas fa-cart-arrow-down-1" style="font-size: 1.5rem"></i></a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>