<header th:fragment="navbar">

    <nav class="navbar navbar-expand-md navbar-light shadow-sm w-100">
        <button id="sidebarCollapse" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mr-auto"></span>
        </button>
        <div class="d-none d-md-inline" style="white-space: nowrap; padding-left: 6vw;">
            <a sec:authorize="!isAuthenticated()" href="/login"><i class="fas fa-user mr-2 rem15"></i>Личный кабинет</a>
            <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" form-method="post"
                  th:action="@{/logout}">
                <a href="/profile" sec:authentication="name" class="mx-2"></a>
                <br>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin" class="btn-sm btn-secondary my-2">Администрирование</a>
                <button class="btn btn-outline-secondary my-2 my-sm-0 btn-sm" type="submit">Выйти</button>
            </form>
        </div>
        <div class="" id="main-logo">
            <a href="/" class="navbar-brand text-black">
                <img class="d-inline-block align-center logo" th:src="@{/images/senator-logo2.svg}" width="75"
                     height="75" alt="senAtor logo">
            </a>
        </div>
        <div class="search-cart-buttons" style="white-space: nowrap">
            <a class="rem15 float-left mr-4 ml-auto" href="#"><span class="fas fa-search" id="search-button"></span></a>
            <a class="rem15" href="/customer/cart"><span class="fas fa-shopping-cart"><span id="cart-badge"
                                                                                            class="badge badge-pill badge-danger"></span></span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">

        </div>
    </nav>
    <div class="d-none d-md-flex bg-dark mt-3" style="white-space: nowrap;">
        <div class="container text-center" id="catalog-md">
            <div class="d-inline" style="height: 100%;">
                <a href="/search?category=all" class="btn btn-danger text-white ">Все товары</a>
            </div>
            <div class="d-inline" style="height: 100%;">
                <a href="/search?category=alcohol" class=" btn  text-white  ">Алкоголь</a>
            </div>
            <div class="d-inline" style="height: 100%;">
                <a href="/search?category=drinks" class=" btn text-white  ">Напитки</a>
            </div>
            <div class="d-inline" style="height: 100%;">
                <a href="/search?category=oil" class=" btn text-white  ">Оливковое масло</a>
            </div>
            <div class="d-inline" style="height: 100%;">
                <a href="/search?category=dishes" class=" btn text-white  ">Посуда</a>
            </div>
            <div class="d-inline" style="height: 100%;">
                <a href="/search?category=gifts" class=" btn text-white  ">Подарки</a>
            </div>
            <div class="d-inline" style="height: 100%;">
                <a href="/events" class=" btn text-white  ">События</a>
            </div>

            <!--            <a href="#" class="w-25  text-white border-right px-2">Виски</a>-->
            <!--            <a href="#" class="w-25  text-white border-right px-2">Водка</a>-->
            <!--            <a href="#" class="w-25  text-white border-right px-2">Подарки</a>-->
        </div>

    </div>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <a href="/">
                    <h5 class="text-center" style="font-family: 'Alegreya', serif;">SEN<span class="bigA">A</span>TOR <i
                            class="ml-2 fas fa-wine-glass-alt text-danger"></i></h5>
                </a>
                <hr class="bg-light">
            </div>

            <ul class="list-unstyled components">
                <div class="text-muted mlvh-4" style="font-size: 0.7rem;">Личный кабинет</div>
                <div class="mlvh-4 mt-3 hover-red">
                    <a sec:authorize="!isAuthenticated()" href="/login">Вход</a>
                    <form sec:authorize="isAuthenticated()" class="form my-2 my-lg-0" form-method="post"
                          th:action="@{/logout}">
                        <a href="/profile" class="mx-2 mb-2 d-inline-block">
                            <span sec:authentication="name"></span>
                        </a>
                        <br>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin" class="btn-sm btn-secondary">Администрирование</a>
                        <br>
                        <button class="btn btn-outline-secondary my-2 my-sm-0 btn-sm" type="submit">Выйти</button>
                    </form>

                </div>

                <div class="mlvh-4 mt-3 hover-red">
                    <a sec:authorize="!isAuthenticated()" href="/register">Регистрация</a>
                </div>

                <hr class="bg-light">
                <div class="text-muted mlvh-4" style="font-size: 0.7rem;">О нас</div>
                <li>
                    <a href="/" class="mlvh-4 my-3">Начало</a>
                </li>
                <li>
                    <div id="products-all">
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class=" mlvh-4">Все товары
                            <span id="chevron" class="fas fa-chevron-right float-right mr-4 py-auto"></span></a>
                    </div>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <!--                        <li>-->
                        <!--
                                                   <a href="#" class=" pl-4 mlvh-4 allproducts"><i class="fas fa-percent text-danger mr-3"></i>Акции</a>-->
                        <!--                            <hr class="bg-light">-->
                        <!--                        </li>-->
                        <li>
                            <hr class="bg-light mt-3">
                            <a href="/search?category=alcohol" class=" pl-4 mlvh-4 allproducts"><i
                                    class="fas fa-wine-bottle text-danger mr-3"></i>Алкоголь</a>
                            <hr class="bg-light">
                        </li>
                        <li>
                            <a href="/search?category=drinks" class=" pl-4 mlvh-4 allproducts"><i
                                    class="fas fa-tint text-danger mr-3"></i>Напитки</a>
                            <hr class="bg-light">
                        </li>
                        <li>
                            <a href="/search?category=oil" class="pl-3 mlvh-4 allproducts"
                               style="margin-left: 4.5vw;"><img
                                    th:src="@{/images/olive-oil.png}" width="20" alt="olive oil" class="mr-2"/><span
                                    class="ml-2">Оливковое масло</span></a>
                            <hr class="bg-light">
                        </li>
                        <li>
                            <a href="/search?category=dishes" class=" pl-4 mlvh-4 allproducts"><i
                                    class="fas fa-glass-cheers text-danger mr-3"></i>Посуда</a>
                            <hr class="bg-light">
                        </li>
                        <li>
                            <a href="/search?category=gifts" class=" pl-4 mlvh-4 allproducts"><i
                                    class="fas fa-gift text-danger mr-3"></i>
                                Подарки</a>
                            <hr class="bg-light">
                        </li>
                    </ul>
                    <a href="/about" class="mlvh-4 my-3">Контакты</a>
                </li>
                <li>
                    <a href="/about-us" class="mlvh-4 my-3"> О нас</a>
                </li>
                <li>
                    <a href="/events" class="mlvh-4">События</a>
                    <hr class="bg-light">
                </li>
                <li>
                    <div class="text-muted mlvh-4 mb-3" style="font-size: 0.7rem;">Бизнес</div>
                    <a href="/business" class="mlvh-4 my-3">Корпоративным клиентам</a>
                    <a href="/reserve" class="mlvh-4">Резерв и оплата</a>
                    <hr class="bg-light">
                </li>
            </ul>
        </nav>

        <div class="overlay"></div>
    </div>
    </div>
</header>