<nav th:fragment="pagination"
        aria-label="Page navigation example" class="mt-3">
    <ul class="pagination justify-content-center">
        <li class="page-item"  th:class="${orders.getNumber() == 0} ? 'disabled page-item' : 'page-item'">
            <a class="page-link" th:href="@{${url}(page=${orders.getNumber() - 1})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:each="pageNumber : ${pageNumbers}"  th:class="${pageNumber==orders.getNumber() + 1} ? 'active page-item' : 'page-item'">
            <a class="page-link" href="#" th:text=${pageNumber} th:href="@{${url}(page=${pageNumber -1})}"
            ></a></li>

        <li th:class="${orders.getNumber() == orders.getTotalPages() - 1} ? 'disabled page-item' : 'page-item'">
            <a class="page-link" th:href="@{${url}(page=${orders.getNumber() + 1})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>