<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>

<main role="main" class="mt-5">
    <div class="container pt-5" id="wrapper">
        <div class="container">
            <div class="page-header">
                <h1 class="title">Add product</h1>
                <p class="lead">Fill information to add product</p>

                <div class="container">
                    <form th:action="@{/admin/productInventory/addProduct}" th:object="${product}" method="post" class="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control" th:field="*{productName}">

                            <label for="category">Category</label>
                            <input type="text" id="category" class="form-control" th:field="*{productCategory}">

                            <label for="subcategory">Subcategory</label>
                            <input type="text" id="subcategory" class="form-control" th:field="*{productSubCategory}">

                            <label for="description">Description</label>
                            <input type="text" id="description" class="form-control" th:field="*{productDescription}">

                            <label for="price">Price</label>
                            <input type="text" id="price" class="form-control" th:field="*{productPrice}">

                            <label for="unitInStock">UnitInStock</label>
                            <input type="text" id="unitInStock" class="form-control" th:field="*{productUnitInStock}">

<!--                            <div class="form-group">-->
<!--                                <label class="control-label" for="productImage">Upload image</label>-->
<!--                                <form th:action="@{/admin/productInventory/addProduct}"  id="productImage" datatype="file" class="form">-->
<!--                                    <input type="file" name=imageFile >-->
<!--                                </form>-->
<!--                            </div>-->

                            <div class="upload-content">
                                <div class="single-upload">
                                    <h3>Upload Single File</h3>
                                    <form id="singleUploadForm" name="singleUploadForm">
                                        <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />
                                        <button type="submit" class="primary submit-btn">Submit</button>
                                        <input type="radio" name="storage-single" id="rs1" value="database" checked> Database<br>
                                        <input type="radio" name="storage-single" id="rs2" value="filesys"> Filesystem<br>
                                    </form>
                                    <div class="upload-response">
                                        <div id="singleFileUploadError"></div>
                                        <div id="singleFileUploadSuccess"></div>
                                    </div>
                                </div>
                                <div class="multiple-upload">
                                    <h3>Upload Multiple Files</h3>
                                    <form id="multipleUploadForm" name="multipleUploadForm">
                                        <input id="multipleFileUploadInput" type="file" name="files" class="file-input" multiple required />
                                        <button type="submit" class="primary submit-btn">Submit</button>
                                        <input type="radio" name="storage-multi" id="rm1" value="database" checked> Database<br>
                                        <input type="radio" name="storage-multi" id="rm2" value="filesys"> Filesystem<br>
                                    </form>
                                    <div class="upload-response">
                                        <div id="multipleFileUploadError"></div>
                                        <div id="multipleFileUploadSuccess"></div>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" class="btn btn-dark mt-3">

                        </div>
                    </form>
                </div>
            </div>
            <!-- FOOTER -->
            <footer th:replace="fragments/footer :: footer">
            </footer>
        </div>

    </div><!-- /.container wrapper -->


</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/home.js"></script>
</body>

</body>
</html>