<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>

<div th:insert="fragments/search-input :: search">
</div>
<main role="main" class="mx-1">
    <div class="container py-3" id="wrapper">
        <div class="container">
            <div th:if="${clearSuccess}" class="alert-success p-2 text-center text-dark mb-3" role="alert">
                Очистка временных данных выполнена успешно.
            </div>

            <div th:if="${clearError}" class="alert-danger p-2 text-center text-dark mb-3" role="alert">
                Ошибка очистки временных данных.
            </div>
            <div class="page-header">
                <h1 class="title">Администратор</h1>
                <p class="lead">Страница управления </p>

                <h3>
                    <a href="/admin/productInventory">Товары</a>
                </h3>
                <p class="p-0">Здесь вы можете просматривать и редактировать товар</p>

                <h3>
                    <a href="/admin/group-discount/edit">Групповые скидки</a>
                </h3>
                <p class="p-0">Здесь вы можете редактировать размер скидки на группу товаров</p>

                <h3>
                    <a href="/admin/customerOrder">Заказы</a>
                </h3>
                <p>Здесь вы можете просматривать и редактировать заказы</p>

                <h3>
                    <a href="/admin/customers">Учетные записи</a>
                </h3>
                <p>Здесь вы можете просматривать и редактировать заказы</p>

                <h3>
                    <a href="/admin/sales">Акции стартовой страницы</a>
                </h3>
                <p>Здесь вы можете просматривать и редактировать акции стартовой страницы</p>

                <h3>
                    <a href="/admin/life-events">События</a>
                </h3>
                <p>Здесь вы можете просматривать и редактировать события</p>

                <button id="clearTempData" type="submit" class="btn btn-info">Очистка временных данных</button>

            </div>

        </div>

    </div><!-- /.container wrapper -->


</main>
<footer th:replace="fragments/footer :: footer">
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../js/controller.js" th:src="@{/js/controller.js}"></script>
<script src="../../js/home.js" th:src="@{/js/home.js}"></script>
<script src="../../js/admin.js" th:src="@{/js/admin.js}"></script>
</body>

</body>
</html>