<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<div th:insert="fragments/search-input :: search">
</div>
<main role="main" class="my-5">
    <div class="container pt-5" id="wrapper">
        <div class="container">
            <section>
                <div class="jumbotron">
                    <div class="container">
                        <h1>Корзина</h1>
                        <p>Все товары добавленные в корзину</p>
                    </div>
                </div>
            </section>

            <section class="container" ng-app="cartApp">
                <div ng-controller="cartCtrl" th:attr="ng-init='initCartId(\''+${cartId}+'\');'">

<!--                <div class="a">-->
<!--                    <a href="#" th:attr="ng-click='clearCart(\''+${cartId}+'\');'" class="btn btn-danger left"> <span class="fas fa-trash-alt"></span>Clear cart</a>-->
<!--                </div>-->

                <table class="table table-hover">
                    <tr>
                        <th></th>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                        <th></th>
                    </tr>
                    <tr th:each="item, i : ${cart}">

                        <td><img th:src="@{'data:image/jpg;base64,' + ${item.product.dataImg}}" class="mx-auto pt-3" alt="..." width="40" height="150"></td>
                        <td>
                            <div class="d-flex text-justify my-auto">
                                <div class="col-12 col-md-10" style="font-size: 1.2rem">
                                    <span th:text="${item.product.productName}"></span>
                                    <input type="hidden" th:value="*{cart[__${i.index}__].product.id}" id="productId"></input>
                                </div>
                            </div>

                        </td>
                        <td th:text="${item.product.productPrice}">{item.productPrice}}</td>

                        <td >
                            <div class="form-group w-100 w-md-50">
                                <input type="number" th:value="*{cart[__${i.index}__].quantity}" class="form-control" max="10" min="1" id="quantityInCart">
                            </div>

                        </td>
                        <td th:text="${item.totalPrice}">{{item.totalPrice}}</td>

                        <td><a href="#" class="label label-danger" th:attr="ng-click='removeFromCart(\''+${item.product.id}+'\');'">
                            <i class="fas fa-times text-danger"></i></a></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Итого</th>
                        <th th:text="${grandTotal}"></th>
                        <th></th>
                    </tr>
                </table>
                <a th:href="@{'/order/' + ${cartId}}" class="btn btn-warning">Оформить резерв</a>
                </div>
            </section>
        </div>


            <!-- FOOTER -->

    </div><!-- /.container wrapper -->


</main>
<footer th:replace="fragments/footer :: footer">
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../js/controller.js" th:src="@{/js/controller.js}"></script>
<script src="../../js/home.js" th:src="@{/js/home.js}"></script>
</body>

</html>