<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<div th:insert="fragments/search-input :: search">
</div>
<div class="container my-3 ">
    <div th:replace="fragments/add-item-alert :: alert">
    </div>
    <div class="container">


    <div class="row">
        <h2 class="mx-auto">Политика конфиденциальности</h2>
        <p class="text-justify">
            Настоящая Политика конфиденциальности персональных данных (далее – Политика
            конфиденциальности) действует в отношении всей информации, которую ООО «Сенатор», может
            получить о Пользователе во время использования сайта: senator-wine.ru (далее – Сайт).
        </p>
        <h4>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ</h4>
        <p class="text-justify">
            1.1. В настоящей Политике конфиденциальности используются следующие термины:<br>
            1.1.1. «Администрация Сайта» – уполномоченные сотрудники на управления сайтом, действующие
            от имени ООО «Сенатор», которые организуют и (или) осуществляет обработку персональных
            данных, а также определяет цели обработки персональных данных, состав персональных данных,
            подлежащих обработке, действия (операции), совершаемые с персональными данными.<br>
            1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно
            определенному или определяемому физическому лицу (субъекту персональных данных).<br>
            1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий
            (операций), совершаемых с использованием средств автоматизации или без использования таких
            средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение,
            уточнение (обновление, изменение), извлечение, использование, передачу (распространение,
            предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных
            данных.<br>
            1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором
            или иным получившим доступ к персональным данным лицом требование не допускать их
            распространения без согласия субъекта персональных данных (Пользователя) или наличия иного
            законного основания.<br>
            1.1.5. «Пользователь Сайта (далее - Пользователь)» – лицо, имеющее доступ к Сайту, посредством
            сети Интернет и использующее Сайт.<br>
            1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на
            компьютере или мобильном устройстве пользователя, который веб-клиент или веб-браузер каждый
            раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего
            сайта.<br>
            1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной (или мобильной) сети,
            построенной по протоколу IP.
        </p>
        <h4>2. ОБЩИЕ ПОЛОЖЕНИЯ</h4>
        <p class="text-justify">
            2.1. Использование Пользователем Сайта означает согласие с настоящей Политикой
            конфиденциальности и условиями обработки персональных данных Пользователя.<br>
            2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен
            прекратить использование Сайта.<br>
            2.3. Настоящая Политика конфиденциальности применяется только к сайту senator-wine.ru. Администрация сайта не
            контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может
            перейти по ссылкам, доступным на Сайте и иных сайтах.<br>
            2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых
            Пользователем Сайта.
        </p>
        <h4>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</h4>
        <p class="text-justify">
            3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта
            по неразглашению и обеспечению режима защиты конфиденциальности персональных данных,
            которые Пользователь предоставляет по запросу Администрации сайта при регистрации на Сайте,
            активации дисконтных карт, при резервировании товара или при обратной связи с Администрацией
            сайта.<br>
            3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики
            конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы
            на Сайте, и включают в себя следующую информацию:<br>
            3.2.1. фамилию, имя, отчество Пользователя;<br>
            3.2.2. контактный телефон Пользователя;<br>
            3.2.3. адрес электронной почты (e-mail);<br>
            3.2.4. дата рождения;<br>
            3.2.5. пол;<br>
            3.2.6. место жительство Пользователя.<br>
            3.3.2. Администрация сайта осуществляет сбор статистики об IP-адресах своих посетителей. Данная
            информация используется с целью выявления и решения технических проблем.
            3.4. Пользовательские данные (сведения о местоположении; тип и версия ОС; тип и версия
            браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь; с
            какого сайта или по какой рекламе; язык ОС и браузера; какие страницы открывает и на какие
            кнопки нажимает пользователь; ip-адрес) подлежат надежному хранению и нераспространению, за
            исключением случаев, предусмотренных в п. 5.2. настоящей Политики конфиденциальности.
        </p>
        <h4>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</h4>
        <p class="text-justify">
            4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:<br>
            4.1.1. Идентификации Пользователя, зарегистрированного на Сайте, для активации дисконтных<br>
            карт, для резервирования товара и обратной связи.
            4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта.<br>
            4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов,
            касающихся использования Сайта, оказания услуг, обработки заявок на резервирование товара от
            Пользователя.<br>
            4.1.4. Определения места нахождения Пользователя для обеспечения безопасности,
            предотвращения мошенничества.<br>
            4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных
            Пользователем.<br>
            4.1.6. Создания учетной записи, если Пользователь дал согласие на создание учетной записи.<br>
            4.1.7. Уведомления Пользователя Сайта о состоянии резерва.<br>
            4.1.8. Предоставления Пользователю эффективной клиентской и технической поддержки при
            возникновении проблем, связанных с использованием Сайта.<br>
            4.1.9. Предоставления Пользователю с его согласия, обновлений продукции, специальных
            предложений, информации о ценах, новостной рассылки и иных сведений от имени Администрации
            сайта или от имени ее партнеров.<br>
            4.1.10. Осуществления рекламной деятельности с согласия Пользователя.<br>
            4.1.11. Предоставления доступа Пользователю на сайты или сервисы партнеров с целью получения
            продуктов, обновлений и услуг.
        </p>
        <h4>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</h4>
        <p class="text-justify">
            5.1. Обработка персональных данных Пользователя осуществляется до момента прекращения
            деятельности ООО «Килобайт», либо до момента отзыва согласия на обработку персональных
            данных Пользователем, либо его законным представителем, любым законным способом, в том
            числе в информационных системах персональных данных с использованием средств автоматизации
            или без использования таких средств.<br>
            5.2 Персональные данные Пользователя могут быть переданы уполномоченным органам
            государственной власти Российской Федерации только по основаниям и в порядке, установленным
            законодательством Российской Федерации.<br>
            5.3. Администрация сайта вправе поручить обработку персональных данных другому лицу с
            согласия Пользователя, если иное не предусмотрено федеральным законом, на основании
            заключаемого с этим лицом договора (далее – поручение оператора). Лицо, осуществляющее
            обработку персональных данных по поручению Администрации сайта, обязано соблюдать
            принципы и правила обработки персональных данных, предусмотренные Федеральным законом от
            27.07.2006 №152-ФЗ «О персональных данных».<br>
            5.4. При утрате или разглашении персональных данных Администрация сайта информирует
            Пользователя об утрате или разглашении персональных данных.
            5.5. Администрация сайта принимает необходимые организационные и технические меры для
            защиты персональной информации Пользователя от неправомерного или случайного доступа,
            уничтожения, изменения, блокирования, копирования, распространения, а также от иных
            неправомерных действий третьих лиц.<br>
            5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по
            предотвращению убытков или иных отрицательных последствий, вызванных утратой или
            разглашением персональных данных Пользователя.
        </p>
        <h4>6. ОБЯЗАТЕЛЬСТВА СТОРОН</h4>
        <p class="text-justify">
            6.1.1. Предоставить достоверную информацию о персональных данных, необходимую для
            пользования Сайтом.<br>
            6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае
            изменения данной информации.
        </p>
        <h4>
            6.2. Администрация сайта обязана:
        </h4>
        <p class="text-justify">
            6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4
            настоящей Политики конфиденциальности.<br>
            6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без
            предварительного письменного разрешения Пользователя, а также не осуществлять продажу,
            обмен, опубликование, либо разглашение иными возможными способами переданных
            персональных данных Пользователя, за исключением случаев, предусмотренных п.п. 5.2. и 5.3.
            настоящей Политики Конфиденциальности.<br>
            6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных
            Пользователя согласно порядку, обычно используемого для защиты такого рода информации в
            существующем деловом обороте.<br>
            6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему
            Пользователю, с момента обращения или запроса Пользователя или его законного представителя
            либо уполномоченного органа по защите прав субъектов персональных данных на период проверки,
            в случае выявления недостоверных персональных данных или неправомерных действий.<br>
            6.2.5. Лица, получившие доступ к персональным данным в порядке, предусмотренном п. 5.3.
            настоящей Политики Конфиденциальности, обязаны не раскрывать третьим лицам и не
            распространять персональные данные без согласия Пользователя, если иное не предусмотрено
            федеральным законом.
        </p>
        <h4>7. ОТВЕТСТВЕННОСТЬ СТОРОН
        </h4>
        <p class="text-justify">
            7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки,
            понесённые Пользователем в связи с неправомерным использованием персональных данных, в
            соответствии с законодательством Российской Федерации, за исключением случаев,
            предусмотренных п. 5.2. и 7.2. настоящей Политики Конфиденциальности.<br>
            7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не
            несёт ответственность, если данная конфиденциальная информация:<br>
            7.2.1. Стала публичным достоянием до её утраты или разглашения.<br>
            7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.<br>
            7.2.3. Была разглашена с согласия Пользователя.<br>
            7.3. В случае, если Администрация сайта поручает обработку персональных данных другому лицу,
            ответственность перед Пользователем за действия указанного лица несёт Администрация сайта.
            Лицо, осуществляющее обработку персональных данных по поручению Администрации сайта,
            несёт ответственность перед Администрацией сайта.
        </p>
        <h4>8. РАЗРЕШЕНИЕ СПОРОВ</h4>
        <p class="text-justify">
            8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем
            Сайта и Администрацией сайта, обязательным является предъявление претензии (письменного
            предложения о добровольном урегулировании спора).<br>
            8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно
            уведомляет заявителя претензии о результатах рассмотрения претензии.<br>
            8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в
            соответствии с действующим законодательством Российской Федерации.<br>
            8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и
            Администрацией сайта применяется действующее законодательство Российской Федерации.
        </p>
        <h4>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
        </h4>
        <p class="text-justify">
            9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности
            без согласия Пользователя.<br>
            9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если
            иное не предусмотрено новой редакцией Политики конфиденциальности.<br>
            9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать
            в раздел на сайте Обратная связь.<br>
            9.4. Действующая Политика конфиденциальности размещена на странице по адресу:
            www.senator-wine.ru.
        </p>
    </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer">
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/controller.js"></script>
<script src="js/home.js"></script>
</body>
</html>