<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<main role="main" class="mt-5">
    <div class="container pt-5" id="wrapper">
        <div class="container">
            <div class="page-header">
                <h1 class="title">Customer Management Paga</h1>
                <p class="lead">This is customer management page</p>
                <table class="table table-stripped table-hover">
                    <thead>
                    <tr class="bg-success">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Enabled</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.customerName}"></td>

                        <td th:text="${customer.customerPhone}"></td>
                        <td th:text="${customer.enabled}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- FOOTER -->
            <footer th:replace="fragments/footer :: footer">
            </footer>
        </div>

    </div><!-- /.container wrapper -->


</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/home.js"></script>
</body>

</body>
</html>