<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>

<main role="main" class="mt-5">
    <div class="container pt-5" id="wrapper">
        <div class="container">
            <div class="page-header">


                <div class="container">
                    <h1 class="title">Обновление информации о товаре</h1>
                    <p class="lead">Внести измения и сохранить</p>
                    <form th:action="@{'/admin/productInventory/updateProduct/' + ${product.id}}" th:object="${product}"
                          method="post" class="form" enctype="multipart/form-data">
                        <div class="form-group ">

                            <input type="hidden" id="id" class="form-control" th:field="${product.id}">


                            <label for="name">Название</label>
                            <input type="text" id="name" class="form-control" th:field="${product.productName}"
                                   placeholder="Имя товара">

                            <div class="input-group my-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Категория</label>
                                    <label class="input-group-text" for="inputGroupSelect01">
                                        <span th:text="'Текущее значение  :  ' + ${product.productCategory}"></span>
                                    </label>
                                </div>
                                <!--                                <select class="custom-select" id="inputGroupSelect01" th:field="*{productCategory}">-->
                                <!--                                    <option value="" selected>Выберите...</option>-->
                                <!--                                    <option value="alcohol">Алкоголь</option>-->
                                <!--                                    <option value="drinks">Напитки</option>-->
                                <!--                                    <option value="oil">Оливковое масло</option>-->
                                <!--                                    <option value="dishes">Посуда</option>-->
                                <!--                                    <option value="gifts">Подарки</option>-->
                                <!--                                </select>-->
                                <div id="inputGroupSelect01" class="ml-4">


                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="alcohol"
                                               id="defaultCheck1"
                                               th:checked="${#strings.contains(product.productCategory, 'alcohol')}"
                                               th:field="*{productCategory}">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Алкоголь
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="drinks"
                                               id="defaultCheck2"
                                               th:checked="${#strings.contains(product.productCategory, 'drinks')}"
                                               th:field="*{productCategory}">
                                        <label class="form-check-label" for="defaultCheck2">
                                            Напитки <br>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="oil" id="defaultCheck3"
                                               th:checked="${#strings.contains(product.productCategory, 'oil')}"
                                               th:field="*{productCategory}">
                                        <label class="form-check-label" for="defaultCheck3">
                                            Оливковое масло
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="dishes"
                                               id="defaultCheck4"
                                               th:checked="${#strings.contains(product.productCategory, 'dishes')}"
                                               th:field="*{productCategory}">
                                        <label class="form-check-label" for="defaultCheck4">
                                            Посуда
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="gifts"
                                               id="defaultCheck5"
                                               th:checked="${#strings.contains(product.productCategory, 'gifts')}"
                                               th:field="*{productCategory}">
                                        <label class="form-check-label" for="defaultCheck5">
                                            Подарки
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="sales"
                                               th:checked="${#strings.contains(product.productCategory, 'sale')}"
                                               id="defaultCheck6" th:field="*{productCategory}">
                                        <label class="form-check-label" for="defaultCheck6">
                                            Акции
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="new"
                                               id="defaultCheck7" th:field="*{productCategory}">
                                        <label class="form-check-label" for="defaultCheck7">
                                            Новинка
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <label for="description">Тип алкоголя (Вино, виски, водка и т.д)</label>
                            <input type="text" id="type" class="form-control mb-3" th:field="*{productType}">

                            <label for="description">Описание</label>
                            <textarea type="text" id="description" class="form-control mb-3"
                                      th:field="${product.productDescription}"></textarea>

                            <label for="price">Цена</label>
                            <input type="number" id="price" class="form-control mb-3"
                                   th:field="${product.productPrice}">

                            <label for="salePrice">Цена по акции(Поле либо пустое либо с ценой, ноль не
                                ставить!)</label>
                            <input type="number" id="salePrice" class="form-control mb-3" th:field="*{salePrice}">

                            <label for="discount">Скидка</label>
                            <input type="number" id="discount" class="form-control mb-3" min="10" max="100"
                                   th:field="*{discount}">

                            <label for="unitInStock">Количество</label>
                            <input type="text" id="unitInStock" class="form-control mb-3"
                                   th:field="${product.productUnitInStock}">

                            <label for="volume">Объем</label>
                            <input type="text" id="volume" class="form-control mb-3" th:field="*{productVolume}">

                            <label for="country">Страна производитель</label>
                            <input type="text" id="country" class="form-control mb-3"
                                   th:field="${product.productCountry}">

                            <label for="region">Регион производителя</label>
                            <input type="text" id="region" class="form-control mb-3"
                                   th:field="${product.productRegion}">


                            <label for="productAlcoholDegree">Содержание спирта</label>
                            <input type="text" id="productAlcoholDegree" class="form-control mb-3"
                                   th:field="${product.productAlcoholDegree}">

                            <label for="productAlcoholColor">Тип (красное, белое, игристое и тд)</label>
                            <input type="text" id="productAlcoholColor" class="form-control mb-3"
                                   th:field="${product.productAlcoholColor}">

                            <label for="productAlcoholSugar">Сахар (сухое, полусухое и т.д.)</label>
                            <input type="text" id="productAlcoholSugar" class="form-control mb-3"
                                   th:field="${product.productAlcoholSugar}">

                            <label for="productAlcoholTemperature">Температура подачи</label>
                            <input type="text" id="productAlcoholTemperature" class="form-control mb-3"
                                   th:field="${product.productAlcoholTemperature}">

                            <label for="productAlcoholSort">Сорт винограда или тип сырья</label>
                            <input type="text" id="productAlcoholSort" class="form-control mb-3"
                                   th:field="${product.productAlcoholSort}">

                            <label for="productManufacturer">Фирма производитель</label>
                            <input type="text" id="productManufacturer" class="form-control mb-3"
                                   th:field="${product.productManufacturer}">

                            <label for="productMature">Выдержка</label>
                            <input type="text" id="productMature" class="form-control mb-3"
                                   th:field="${product.productMature}">

                            <label for="productTaste">Короткое описание вкуса</label>
                            <input type="text" id="productTaste" class="form-control mb-3"
                                   th:field="${product.productTaste}">

                            <label for="productImageUrl">Ссылка на изображение товара</label>
                            <input type="text" id="productImageUrl" class="form-control mb-3" th:field="*{imageUrl}">

                            <div class="upload-content mb-3">
                                <div class="single-upload ">
                                    <h3>Загрузить изображение</h3>
                                    <form id="singleUploadForm" name="singleUploadForm">
                                        <input id="singleFileUploadInput" type="file" name="file" class="file-input "/>
                                        <input type="radio" name="storage-single" id="rs1" value="database" checked>
                                        Database<br>
                                    </form>
                                    <div class="upload-response">
                                        <div id="singleFileUploadError"></div>
                                        <div id="singleFileUploadSuccess"></div>
                                    </div>
                                </div>
                                <!--                                <div class="multiple-upload">-->
                                <!--                                    <h3>Upload Multiple Files</h3>-->
                                <!--                                    <form id="multipleUploadForm" name="multipleUploadForm">-->
                                <!--                                        <input id="multipleFileUploadInput" type="file" name="files" class="file-input" multiple required />-->
                                <!--                                        <button type="submit" class="primary submit-btn">Submit</button>-->
                                <!--                                        <input type="radio" name="storage-multi" id="rm1" value="database" checked> Database<br>-->
                                <!--                                        <input type="radio" name="storage-multi" id="rm2" value="filesys"> Filesystem<br>-->
                                <!--                                    </form>-->
                                <!--                                    <div class="upload-response">-->
                                <!--                                        <div id="multipleFileUploadError"></div>-->
                                <!--                                        <div id="multipleFileUploadSuccess"></div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                            </div>


                            <input type="submit" class="btn btn-dark my-3" value="Сохранить">

                        </div>
                    </form>
                </div>
            </div>
            <!-- FOOTER -->

        </div>

    </div><!-- /.container wrapper -->

    <footer th:replace="fragments/footer :: footer">
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../../js/upload.js" th:src="@{/js/upload.js}"></script>
</body>

</body>
</html>