<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header"></head>
</head>
<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<div th:insert="fragments/search-input :: search">
</div>
<main role="main" id="main" class="mt-3">
    <div th:replace="fragments/add-item-alert :: alert">
    </div>
    <div id="carouselExampleIndicators" class="container carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li th:each="event, i : ${events}" th:class="${i.index == 0} ? 'active' : ''" data-target="#carouselExampleIndicators"
                th:attr="data-slide-to=${i.index}"></li>
        </ol>
        <div class="carousel-inner">
                <div th:each="event, i : ${events}" th:class="${i.index == 0} ? 'carousel-item active' : 'carousel-item'">
                    <img th:src="@{'data:image/jpg;base64,' + ${event.dataImg}}" class="img img-fluid" alt="...">
                </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--    НОВИНКИ horizontal scroll-->
    <div class="container">
        <h3 class="text-center  mx-auto" style="font-family: 'Alegreya', serif;">НОВИНКИ </h3>
    </div>
    <div th:replace="fragments/horizontal-scroll-products :: products">

    </div>

    <div class="container marketing">
        <div class="row">
            <div class="col-12 col-md-6 text-left">
                <h3 class="text-center" style="font-family: 'Alegreya', serif;">SEN<span class="bigA">A</span>TOR — магазин элитного вина и подарков <i class="ml-2 fas fa-wine-glass-alt text-danger"></i></h3>
                <p class="text-justify">На сайте представлена информация об ассортименте магазина Сенатор. Возможность зарезервировать вина, шампанское, крепкий алкоголь, воду и соки.
                    Консультации опытного сомелье. Гарантия подлинности: сертификаты на всю продукцию по запросу.
                    Все материалы, размещенные на сайте, носят информационный характер и не являются рекламой.</p>

                <p><img th:src="@{'images/bag.png'}" class="" alt="...">
                    Более 1000 элитных товаров</p>
                <p><img th:src="@{'/images/sale.png'}" alt="">
                    Скидки и акции</p>
                <p><img th:src="@{'images/consult.png'}" alt="">
                    Бесплатные консультации</p>
                <p><img th:src="@{'images/care.png'}" alt="">
                    Индивидуальный подход к каждому клиенту</p>

            </div>
            <div class="d-none d-md-block col-md-6">
                <img th:src="@{'images/photo-wine.jpg'}" class="img-fluid" alt="..." style="width: 100%;height: 100%">
            </div>
        </div>

    </div><!-- /.container -->
    <div class="container mt-3">
        <h3 style="font-family: 'Alegreya', serif;">Мы соберем коллекцию к вашему визиту</h3>
        <p class="mb-2"><span class="font-weight-bold text-dark" style="font-family: 'Alegreya', serif;">Консультации по телефону: <span
                class="text-dark">+7(915)-607-13-08</span><br>
            <span
                    class="text-dark">+7(4912)-28-19-37</span><br>
        </span> Наш ковиста поможет подобрать вино к столу или в подарок. А также профессионально ответит на любой
            ваш вопрос.</p>
        <p>В соответствии с рекомендациями ФС РАР от 25.06.18 уведомляем: алкогольная продукция может быть приобретена непосредственно в магазине Сенатор.
            ООО «Сенатор», ИНН: 6215012053, лицензия: 62РПА0001379 от 18.01.2018 действует с 08.02.2018 по 07.02.2023, 390006 г. Рязань, ул.Свободы, д.24а</p>

    </div>

    <div id="overlay"></div>
</main>
<footer th:replace="fragments/footer :: footer">
</footer>
<div th:replace="fragments/modal :: modal"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/controller.js"></script>
<script src="js/home.js"></script>
</body>

</html>