<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
</head>

<body>

<main role="main" class="mt-5">
    <div>
        <div class="container">
            <div class="page-header">
                <h1 class="title" style="text-align: center">Спасибо за ваш резерв</h1>
                <table class="table table-stripped table-hover">
                    <thead style="margin-bottom: 1vh">
                    <tr class="bg-success">
                        <th style="margin-right: 2vw">Товар</th>
                        <th style="margin-right: 2vw;width: 0.5vw"></th>
                        <th style="margin-right: 2vw">Имя</th>
                        <th style="margin-right: 2vw;width: 0.5vw"></th>
                        <th style="margin-right: 2vw">Количество</th>
                        <th style="margin-right: 2vw;width: 0.5vw"></th>
                        <th style="margin-right: 2vw">Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cartItem : ${cart.cartItems}" style="margin-bottom: 2vh">
                        <td>
                            <div th:if="${cartItem.product.dataImg != null && #strings.length(cartItem.product.dataImg) > 0}">
                                <img th:src="@{'data:image/jpg;base64,' + ${cartItem.product.dataImg}}"
                                     class="mx-auto pt-3 product--img_width" alt="..." height="250">
                            </div>
                            <div th:if="${(cartItem.product.dataImg == null || #strings.length(cartItem.product.dataImg) == 0) && #strings.length(cartItem.product.imageUrl) > 0 }">
                                <img th:src="${cartItem.product.imageUrl}" class="mx-auto pt-3 product--img_width"
                                     alt="..."
                                     height="250">
                            </div>
                        </td>
                        <td></td>
                        <td th:text="${cartItem.product.productName}">
                        </td>
                        <td></td>
                        <td th:text="${cartItem.quantity}" class="text-center"></td>
                        <td></td>
                        <td th:text="${cartItem.product.productPrice}" style="font-weight: bold">
                            {item.productPrice}}
                        </td>

                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Итого</th>
                        <th th:text="${cart.grandTotal}"></th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- FOOTER -->
            <footer th:replace="fragments/footer :: footer">
            </footer>
        </div>

    </div><!-- /.container wrapper -->


</main>

</body>

</body>
</html>