<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<main role="main" class="mt-5">
    <div class="container pt-5" id="wrapper">
        <div class="container">
            <div class="page-header">
                <h1 class="title">All products</h1>
                <p class="lead">Checkout all products available</p>
                <table class="table table-stripped table-hover">
                    <thead>
                    <tr class="bg-success">
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <td><img th:src="@{'data:image/jpg;base64,' + ${product.dataImg}}" alt="Image" width="75" height="200"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.productCategory}"></td>
                        <td th:text="${product.productDescription}"></td>
                        <td th:text="${product.productPrice}"></td>
                        <td>
                            <a th:href="@{'/productList/product/' + ${product.id}}"><span class="fas fa-info-circle"> </span></a>
                            <a th:href="@{'/admin/productInventory/deleteProduct/' + ${product.id}}"><span class="fas fa-trash"> </span></a>
                            <a th:href="@{'/admin/productInventory/updateProduct/' + ${product.id}}"><span class="fas fa-pen-square"> </span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <a href="/admin/productInventory/addProduct" class="btn btn-primary">Add product</a>
            </div>
            <!-- FOOTER -->
            <footer th:replace="fragments/footer :: footer">
            </footer>
        </div>

    </div><!-- /.container wrapper -->


</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../../js/upload.js" th:src="@{/js/upload.js}"></script>
</body>

</body>
</html>