<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<div th:insert="fragments/search-input :: search">
</div>

<main role="main" class="my-3">
    <div th:replace="fragments/add-item-alert :: alert">
    </div>
    <div class="container" id="wrapper">
        <div class="container">
            <div class="page-header">
                <h1 class="title text-center" th:text="${product.productName}">Товар</h1>
                <p class="lead text-center" th:text="${product.productManufacturer}">Здесь представлена информация о
                    товаре</p>

                <div class="container text-justify">
                    <div class="row justify-content-around">

                        <!-- Left side of product-->
                        <div class="col-8 col-md-4 col-lg-3 mb-3  mx-auto">

                            <div class="card" style="width: 18rem;">
                                <div th:if="${product.dataImg != null && #strings.length(product.dataImg) > 0}"
                                     class="mx-auto mb-3">
                                    <img th:src="@{'data:image/jpg;base64,' + ${product.dataImg}}"
                                         class="mx-auto pt-3 product--img_width" alt="..." height="250">
                                </div>
                                <div th:if="${(product.dataImg == null || #strings.length(product.dataImg) == 0) && #strings.length(product.imageUrl) > 0 }">
                                    <img th:src="${product.imageUrl}" class="mx-auto pt-3 product--img_width" alt="..."
                                         height="250">
                                </div>

                                <div class="card-footer d-flex">
                                    <div class="bg-transparent mx-auto" style="font-size: 1.2rem">
                               <span th:class="${product.salePrice != null && #strings.length(product.salePrice) > 0 ? 'd-block line-price':'d-block'}">[[${product.productPrice}]]<i
                                       class="fas fa-ruble-sign ml-1"></i></span>
                                        <span class="text-danger"
                                              th:if="${product.salePrice != null && #strings.length(product.salePrice) > 0}">Акция: [[${product.salePrice}]]<i
                                                class="fas fa-ruble-sign ml-1"></i></span>
                                        <span id="priceRegistered" class="text-danger" style="cursor: help"
                                              data-toggle="tooltip"
                                              data-html="true" data-placement="right"
                                              title="<em>Цена для зарегистрированных пользователей или держателей карт Сенатор</em>"
                                              th:unless="${product.salePrice != null && #strings.length(product.salePrice) > 0}">[[${@priceFormatter.format(product.productPrice)}]]<i
                                                class="fas fa-ruble-sign ml-1"></i><i
                                                class="fas fa-id-card ml-1"></i></span>
                                    </div>
                                </div>
                            </div>


                            <!--                            <img th:src="@{'data:image/jpg;base64,' + ${product.dataImg}}" alt="Image" class="img img-fluid" height="750">-->
                        </div>
                        <!-- Right side of product-->
                        <div class="col-md-6">
                            <div class="d-flex flex-column">
                                <div class="col">
                                    <p class="lean mb-0 ">Описание</p>
                                    <p class="text-dark"><span th:text="${product.productDescription}"></span></p>
                                </div>
                                <div class="col">
                                    <p class="lean mb-0">Характеристика</p>
                                    <p class="text-dark"><span th:text="${product.productTaste}"></span></p>
                                </div>
                                <div class="col" style="font-size: 0.7rem">
                                    <div class="row">
                                        <div class="col-4 "
                                             th:if="${product.productVolume != null && #strings.length(product.productVolume) > 0}">
                                            <p class="lean mb-0">Обьем</p>
                                            <p class="text-dark border-light-gray"><span
                                                    th:text="${product.productVolume}"></span></p>
                                        </div>
                                        <div class="col-4 "
                                             th:if="${product.productAlcoholColor != null && #strings.length(product.productAlcoholColor) > 0}">
                                            <p class="lean mb-0">Цвет</p>
                                            <p class="text-dark border-light-gray"><span
                                                    th:text="${product.productAlcoholColor}"></span></p>
                                        </div>

                                        <div class="col-4 "
                                             th:if="${product.productRegion != null && #strings.length(product.productRegion) > 0} ">
                                            <p class="lean mb-0">Регион</p>
                                            <p class="text-dark border-light-gray"><span
                                                    th:text="${product.productRegion}"></span></p>
                                        </div>
                                        <div class="col-4 "
                                             th:if="${product.productAlcoholDegree != null && #strings.length(product.productAlcoholDegree) > 0}">
                                            <p class="lean mb-0">Алкоголь</p>
                                            <p class="text-dark border-light-gray"><span
                                                    th:text="${product.productAlcoholDegree}"></span></p>
                                        </div>
                                        <div class="col-4"
                                             th:if="${product.productAlcoholTemperature != null && #strings.length(product.productAlcoholTemperature) > 0}">
                                            <p class="lean mb-0">Температура</p>
                                            <p class="text-dark border-light-gray"><span
                                                    th:text="${product.productAlcoholTemperature}"></span></p>
                                        </div>
                                        <div class="col-4 text-nowrap"
                                             th:if="${product.productAlcoholSort != null && #strings.length(product.productAlcoholSort) > 0}">
                                            <p class="lean mb-0">Сорт</p>
                                            <p class="text-dark border-light-gray"><span
                                                    th:text="${product.productAlcoholSort}"></span></p>
                                        </div>

                                        <div class="col-4 "
                                             th:if="${product.productCountry != null && #strings.length(product.productCountry) > 0}">
                                            <p class="lean mb-0">Страна</p>
                                            <a th:href="@{'/filter?categories=all&min-price=&max-price=&countries=' + ${product.productCountry}}"
                                               class="text-success">
                                                <p class="border-light-gray text-danger"><span
                                                        th:text="${product.productCountry}"></span></p>
                                            </a>
                                        </div>

                                        <div class="col-4 "
                                             th:if="${product.productAlcoholSugar != null && #strings.length(product.productAlcoholSugar) > 0}">
                                            <p class="lean mb-0">Сахар</p>
                                            <p class="text-dark border-light-gray"><span
                                                    th:text="${product.productAlcoholSugar}"></span></p>
                                        </div>

                                        <div class="col-4 text-nowrap"
                                             th:if="${product.productManufacturer != null && #strings.length(product.productManufacturer) > 0}">
                                            <p class="lean mb-0">Производитель</p>
                                            <a th:href="@{'/filter?categories=all&min-price=&max-price=&manufacturers=' + ${product.productManufacturer}}">
                                                <p class="text-danger border-light-gray"><span
                                                        th:text="${product.productManufacturer}"></span></p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" th:if="${#numbers.formatInteger(product.productUnitInStock,5)} != 0">
                                    <p class="lean mb-0 text-center">Количество</p>
                                    <select class="form-control text-center" id="quantityFromSelect"
                                            style="width: 24%; margin-left: 39%">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <div class="" style="height: 15px"></div>
                                </div>
                                <div class="col" ng-app="cartApp">
                                    <div class="row flex-column justify-content-between" ng-controller="cartCtrl">
                                        <div style="margin-left: 5%">
                                            <a href="#" class="btn btn-warning btn-large w-100"
                                               th:attr="ng-click='addToCart(\''+${product.id}+'\');'"
                                               th:if="${#numbers.formatInteger(product.productUnitInStock,5)} != 0">
                                                <!--                               ng-click="addToCart(\''+${product.id}+'\')"><span-->
                                                Добавить в <i class="fas fa-shopping-cart"></i></a>
                                            <a class="btn btn-warning btn-large w-100"
                                               th:unless="${#numbers.formatInteger(product.productUnitInStock,5)} != 0">Товар
                                                отсутствует</a>
                                        </div>
                                        <div class="" style="height: 15px"></div>
                                        <div style="margin-left: 5%">
                                            <a href="/customer/cart" class="btn btn-success w-100"><span
                                                    class="glyphicon glyphicon-hand-right"></span>Перейти в <i
                                                    class="fas fa-shopping-cart"></i> </a>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- FOOTER -->
        </div>

    </div><!-- /.container wrapper -->
</main>

<footer th:replace="fragments/footer :: footer">
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../js/controller.js" th:src="@{/js/controller.js}"></script>
<script src="../../js/home.js" th:src="@{/js/home.js}"></script>
</body>

</body>
</html>