<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<div th:insert="fragments/search-input :: search">
</div>

<main role="main" class="mt-5">
    <div class="container pt-5" id="wrapper">
        <div class="container">
            <div class="page-header">
                <h1 class="title text-center">Регистрация</h1>
                <p class="lead text-center">Необходимо заполнить поля с информацией о себе</p>
                <p class=" alert-danger  text-center container mx-3" role="alert" th:text="${nameMsg}"></p>

                <div class="container">
                    <form th:action="@{/register}" th:object="${customer}" method="post" class="form">
                        <div class="form-group">
                            <div class="d-flex">
                                <div class="col">
                                    <p th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" class="alert alert-danger" role="alert">Name Error</p>
                                    <label for="name">Электронная почта <span class="text-danger">*</span></label>
                                    <input type="email" id="name" class="form-control mb-3" th:field="*{customerName}">


                                    <label for="password">Пароль <span class="text-danger ">*</span></label>
                                    <input type="password" id="password" class="form-control mb-3" th:field="*{customerPassword}" >

                                    <label for="passwordAccept">Подтвердите пароль <span class="text-danger">*</span></label>
                                    <input type="password" id="passwordAccept" class="form-control mb-3" th:field="*{customerPasswordAccept}" >

                                    <label for="phone">Телефон</label>
                                    <input type="text" id="phone" class="form-control mb-3" th:field="*{customerPhone}">
                                </div>

                                <div class="col">
                                    <label for="FIOfirst">Фамилия</label>
                                    <input type="text" id="FIOfirst" class="form-control mb-3" th:field="*{FIOlast}">

                                    <label for="FIOlastname">Имя</label>
                                    <input type="text" id="FIOlastname" class="form-control mb-3" th:field="*{FIOfirst}">

                                    <label for="FIOlastname">Отчество</label>
                                    <input type="text" id="FIOmiddle" class="form-control mb-3" th:field="*{FIOmiddle}">
                                </div>
                            </div>


                            <input type="submit" class="btn btn-dark my-3 ml-3">

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div><!-- /.container wrapper -->
    <!-- FOOTER -->
    <footer th:replace="fragments/footer :: footer">
    </footer>

</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../../js/upload.js" th:src="@{/js/upload.js}"></script>
</body>

</body>
</html>