<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
>
<head th:replace="fragments/header :: header">
</head>

<body>
<header th:replace="fragments/navbar :: navbar">
</header>
<div th:insert="fragments/search-input :: search">
</div>

<main role="main">
    <div class="container pt-5" id="wrapper">
        <div class="container">
            <div class="page-header">
                <h1 class="title text-center">Регистрация</h1>
                <p class="lead text-center">Необходимо заполнить поля с информацией о себе</p>
                <p class=" alert-danger  text-center container mx-3" role="alert" th:text="${nameMsg}"></p>

                <div class="container">
                    <form th:action="@{/register}" th:object="${customer}" method="post" class="form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <p th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"
                                       class="alert alert-danger" role="alert">Name Error</p>
                                    <label for="name">Электронная почта <span class="text-danger">*</span></label>
                                    <input type="email" id="name" class="form-control mb-3" th:field="*{customerName}"
                                           required>


                                    <label for="password">Пароль <span class="text-danger ">*</span></label>
                                    <input type="password" id="password" class="form-control mb-3"
                                           th:field="*{customerPassword}" required>

                                    <label for="passwordAccept">Подтвердите пароль <span
                                            class="text-danger">*</span></label>
                                    <input type="password" id="passwordAccept" class="form-control mb-3"
                                           th:field="*{customerPasswordAccept}" required>

                                    <label for="phone">Телефон<span class="text-danger ">*</span></label>
                                    <input type="text" id="phone" class="form-control mb-3" th:field="*{customerPhone}"
                                           required>
                                </div>

                                <div class="col-12 col-md-6">
                                    <label for="FIOfirst">Фамилия<span class="text-danger ">*</span></label>
                                    <input type="text" id="FIOfirst" class="form-control mb-3" th:field="*{FIOlast}"
                                           required>

                                    <label for="FIOlastname">Имя<span class="text-danger ">*</span></label>
                                    <input type="text" id="FIOlastname" class="form-control mb-3" th:field="*{FIOfirst}"
                                           required>

                                    <label for="FIOlastname">Отчество<span class="text-danger ">*</span></label>
                                    <input type="text" id="FIOmiddle" class="form-control mb-3" th:field="*{FIOmiddle}"
                                           required>
                                </div>
                            </div>


                            <input type="submit" class="btn btn-dark my-3 center-orient-button" value="Регистрация">
                            <p class="lean text-justify" style="font-size: 0.8rem">Нажимая на кнопку Регистрации, Вы
                                соглашаетесь c <a href="/rules" class="text-primary">Пользовательским соглашением</a> и
                                подтверждаете,
                                что ознакомились с <a href="/confidential" class="text-primary">Политикой
                                    конфиденциальности</a></p>

                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div><!-- /.container wrapper -->
    <!-- FOOTER -->
    <footer th:replace="fragments/footer :: footer">
    </footer>

</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/controller.js"></script>
<script src="js/home.js"></script>
<script src="js/jquery.mask.js"></script>
</body>

</body>
</html>